[submodule "CrackGame/Thirdparty/sol"]
	path = CrackGame/Thirdparty/sol
	url = https://github.com/ThePhD/sol2.git
[submodule "CrackGame/Thirdparty/luajit"]
	path = CrackGame/Thirdparty/luajit
	url = https://luajit.org/git/luajit.git
